@media all and (min-width: 1200px) {
    
    .navbar-header li.no-decoration {
        display: none;
    }
    
    body header ul.nav.navbar-nav.navbar-center {
        width: 300px;
        line-height: 50px;
        padding-left: 120px;
    }
    
}

@media all and (min-width:768px) and (max-width: 1199px) {
    
    body header ul.nav.navbar-nav.navbar-center {
           width: 170px;
           padding-left: 50px;
    }

    body header ul.nav.navbar-nav.navbar-right {
            width: 370px;
            height: 50px;
            margin-right: -30px;
            text-align: center;
    }
    
    .navbar-header li.no-decoration {
        display: none;
    }

}

@media all and (min-width: 768px) and (max-width: 991px) {
    
    li#lang {
        display: none;
    }
    
    body header ul.nav.navbar-nav.navbar-center {
           display: none;
           
    }
    
}
@media all and (max-width: 767px) {
    ul.nav.navbar-nav.navbar-center {
        display: none;
    }
    
    .navbar-header li.no-decoration {
        margin-top: 7.5px;
        text-decoration: none;
        list-style-type: none;
    }
    
    .navbar-header li.no-decoration a {
        margin-left: 12px;
        color: #1a1414;
        font-size: 1em;
    }
    
    a.none-padd {
        margin-left: 0;
    }
    
    a.left-padd {
        margin-left: 15px;
    }
    li#lang {
        display: none;
    }
    .navbar-header #lang-mobile {
        margin-left: 20px;
        margin-top: -2.5px;
        width: 40px;
        height: 40px;
        background-image: url(../img/prostokat5.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: background .5s ease-in-out;
            -o-transition: background .5s ease-in-out;
            -ms-transition: background .5s ease-in-out;
            -moz-transition: background .5s ease-in-out;
            -webkit-transition: background .5s ease-in-out;
    }
    .navbar-header #lang-mobile li .dropdown-menu div {
        transition: background .5s ease-in-out;
            -o-transition: background .5s ease-in-out;
            -ms-transition: background .5s ease-in-out;
            -moz-transition: background .5s ease-in-out;
            -webkit-transition: background .5s ease-in-out;
    }
    .navbar-header #lang-mobile:hover {
        background-color: #d4d8dd;
        text-decoration: none;
    }
    .navbar-header #lang-mobile li .dropdown-menu div:hover {
        background-color: #d4d8dd;
    }
    .navbar-header #lang-mobile a {
        font-size: 1.2em;
        line-height: 40px;
    }
    .navbar-header #lang-mobile a:hover {
        text-decoration: none;
    }
    .navbar-header a, a:hover {
        text-decoration: none;
    }
    
}